{% extends 'dashboard/base.html' %}

{% block title %}
Show
{% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <th scope="row">1</th>
      <td><img src="{{post.image.url}}" height="100px" alt=""> </td>
      <td>{{post.title}}</td>
      <td>{{post.content}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>







{% endblock %}